.black
  .laminate
    .profile__container8
    = form_for @profile, url: profiles_path, method: :create, class: "" do |f|
      .profile__container8__above
        = image_tag(@profile.myphoto.url class: "")
        = f.label :myphoto do
          %i.far.fa-images
            = f.file_field :myphoto, class: 'hidden'
      .profile__container8__center
        .profile__container8__center__upper
          .profile__container8__center__upper__left
            = f.label :picture do
              = image_tag(@profile.picture.url class: "")
              %i.far.fa-images
                = f.file_field :picture, class: 'hidden'
          .profile__container8__center__upper__right
            = @user.nickname
        .profile__container8__center__middle
          .profile__container8__center__middle__blank
          .profile__container8__center__middle__comment
            .profile__container8__center__middle__comment__in
              = f.text_area :mycomment, autofocus: true
          .profile__container8__center__middle__right
            %li
              = f.submit "プロフィールを作成する", id: 'sakusei'
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete, id: ""
            %li
              = link_to "カード情報の確認", new_card_path
            %li
              = link_to "ユーザー登録情報", edit_user_registration_path(@user.id), method: :get