.proshow
  .profile__container8
    .profile__container8__above
      = image_tag(@profile.myphoto.url class: "")
    .profile__container8__center
      .profile__container8__center__upper
        .profile__container8__center__upper__left
          = image_tag(@profile.picture.url class: "")
        .profile__container8__center__upper__right
          = @user.nickname
      .profile__container8__center__middle
        .profile__container8__center__middle__blank
        .profile__container8__center__middle__comment
          .profile__container8__center__middle__comment__in
            = simple_format(@profile.mycomment)
        .profile__container8__center__middle__right
          - if @profile.user_id == current_user.id
            %li
              = link_to "プロフィールを編集", edit_profile_path
            %li
              = link_to "プロフィールを削除", profile_path(@profile.id), method: :delete
            %li
              = link_to "カード情報の確認", card_path
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li
              = link_to "ユーザー登録情報", edit_user_registration_path(@user.id), method: :get
= render "gifts/footer"
