.registration
  .registration__upper
  .registration__main
    .registration__main__container
      .registration__main__container__thema
        .mark
          %i.fas.fa-hands
            %i.fas.fa-heart
      .registration__main__container__form
        = form_for @hope, url: hope_path, method: :patch, class: "", id: "" do |f|
          .field
            = f.label :message, "メッセージ", class: "message"
            %br/
            = f.text_area :message, autofocus: true
            - if session[:error_message]
              %p メッセージを編集してください
          .field
            = f.label :image, "写真"
            %br/
            = image_tag(@hope.image.url class: "")
            = f.file_field :image
            - if session[:error_image]
              %p 写真を添付してください
          .field
            = f.label :desired_price, "希望金額"
            %br/
            = f.text_field :desired_price
            - if session[:error_desired_price]
              %p 希望金額を編集してください
          .actions
            = f.submit "更新する"