.registration
  .registration__upper
  .registration__main
    .registration__main__container
      .registration__main__container__thema
        %i.fas.fa-hands
          %i.fas.fa-heart
      .registration__main__container__form
        = form_for @hope, url: hopes_path, method: :post, class: "", id: "" do |f|
          .field
            = f.label :message, "メッセージを入力してください", class: "message"
            %br/
            = f.text_area :message, autofocus: true
          .field
            = f.label :image, "写真を投稿してください" do
              %i.far.fa-images
                = f.file_field :image, class: 'hidden'
          .field
            = f.label :desired_price, "希望金額"
            %br/
            = f.text_field :desired_price
          .actions
            = f.submit "投稿する"