= render "gifts/header2"
.hope
  .hope__container6
    .hope__container6__center
      .hope__container6__center__upper
        .hope__container6__center__upper__left
          .hope__container6__center__upper__left__picture
            = image_tag(@profile.picture.url id: "picture")
          .hope__container6__center__upper__left__nickname
            = @user.nickname
        .hope__container6__center__upper__right
          希望
          #{convert_to_jpy(@hope.desired_price)}
      .hope__container6__center__middle
        .hope__container6__center__middle__text
          = simple_format(@hope.message)
        .hope__container6__center__middle__image
          = image_tag(@hope.image.url id: "image")
  .hope__container7
    .hope__container7__center
      .hope__container7__center__box
      - if user_signed_in?
        - if @hope.user_id == current_user.id
          .hope__container7__center__box__select
            = link_to "編集する", edit_hope_path(@hope.id), method: :get
          .hope__container7__center__box__select
            = link_to "削除する", hope_path(@hope.id), method: :delete
        - else
          .hope__container7__center__box__select
            = link_to "支援する", gift_path(@hope.id)
      - else
        .hope__container7__center__box__select
          = link_to "ログインして支援する", new_user_session_path


= render "gifts/footer"
