= render "gifts/header"
.body
  .body__container6
    = image_tag(@user.photo.url class: "")
    .body__container6__center
      .body__container6__center__upper
        .body__container__center__upper__left
          = @user.nickname
        .body__container__center__upper__right
          = @user.email
      .body__container6__center__middle
        .body__container6__center__middle__image
          = image_tag(@user.myimage.url class: "")
        .body__container6__center__middle__text
          = simple_format(@user.comment)
  .body__container7
    .body__container7__center
      .body__container7__center__box
        .body__container7__center__box__left
          = link_to "編集する", edit_hope_path(@user.id), method: :get
        .body__container7__center__box__right
          = link_to "削除する", hope_path(@user.id), method: :delete
= render "gifts/footer"
