.registration
  .registration__upper
  .registration__main
    .registration__main__container
      .registration__main__container__thema
        .mark
          %i.fas.fa-hands
            %i.fas.fa-heart
      .registration__main__container__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :nickname
            %br/
            = f.text_field :nickname, autofocus: true
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .field
            = f.label :password
            %br/
            %c (変更なしの場合はそのまま空けておいてください)
            %br/
            = f.password_field :password, autocomplete: "new-password"
            - if @minimum_password_length
              %br/
              %em
                = @minimum_password_length
                文字以上で半角英数字の両方を含めてください
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .field
            = f.label :current_password
            %br/
            %c (確認用に現在のパスワードが必要です)
            %br/
            = f.password_field :current_password, autocomplete: "current-password"
          .actions
            = f.submit "更新する"
        %h3 退会する
        %p
          #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
